.activities-section{
    height:65vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;

 

    
}
.activities-container{
    display: flex;
    flex-wrap: wrap;
justify-content: space-around;
flex-direction: column;

width: 100%;
padding: 10px;
 

}
.title-activities{
    margin-left: 0;
    margin-bottom: 0;
}
.card-right{
    background-color: white;
    width: 300px;
    height: 220px;

    border-radius: 20px;

    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.123) 0px 0px 10px;

}
.card-right img {
    max-width: 100%;
    max-height: 80%;
    border-radius: 20px 20px 0 0;
    width: 600px;
    height: 270px;
}
.card-right h3{
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: -10px;
    margin-top: 5px;
    margin-left: 13px;
}

.activities-right-column{
    margin-top: -25px;
}
.card-auto{
    background-color: white;
 
 
    border-radius: 20px;
    
    
    box-shadow: rgba(0, 0, 0, 0.123) 0px 0px 10px;
   
}
.card-auto img {
 max-width: 300px;
 max-height: 400px;
    border-radius: 20px 20px 0 0;

}
.card-auto h3{
    font-size: 16px;
    font-weight: 400px;

    margin-top: 5px;

}



.card-right-long{
    background-color: white;
    width: 300px;
    height: 450px;

    border-radius: 20px;
    margin: 00px 0px 10px 0px;
    
    box-shadow: rgba(0, 0, 0, 0.123) 0px 0px 10px;

}
.card-right-long img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px 20px 0 0;
    width: 600px;
    height: 410px;
}
.card-right-long h3{
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: -10px;
    margin-top: 5px;
    margin-left: 13px;
}

.card-right-frioul{
    background-color: white;
    width: 300px;
    height: 160px;

    border-radius: 20px;
    margin: 00px 0px 10px 0px;
    
    box-shadow: rgba(0, 0, 0, 0.123) 0px 0px 10px;

}
.card-right-frioul img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px 20px 0 0;
    width: 600px;
    height: 120px;
}
.card-right-frioul h3{
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: -10px;
    margin-top: 5px;
    margin-left: 13px;
}