nav{
    background-color: rgb(255, 255, 255);
}
#filter {
    display: flex;
    align-items: center;
}

#filter .filtre-box {
    margin: 0px 10px 10px;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    display: flex;
    align-items: center;
    font-weight: bold;
 

}

#filter .filtre-box i {
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 100%;
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
}


#filter .filtre-box .text {
    padding: 0px 10px;
}
.title-nav p{
margin-top: -10px;
}
.search {
    margin-top: 20px;
  }

  .input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    min-width: 30%;
    max-width: 40%;
    height: 50px;
  }
  
  .input-location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 10%;
    height: 100%;
  }
  
  .input-recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    background-color: #F2F2F2;
  }
  
  input#recherche {
    height: 50px;
    width: 100%;
    border: 0.5px solid #F2F2F2 ;
    padding: 0px;
    padding-left: 10px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 16px;
    outline: none;
  }
  
  .input-button {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .button {
    width: 100%;
    border: none;
    font-family: 'Raleway';
    font-weight: 600;
    color: white;
    font-size: 15px;
    cursor: pointer;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .loupe{
    display: none;
  }
  .info {
    display: flex;
    width: 30%;
}

.info .fas.fa-info {
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}