@media only screen and (max-width : 767px) and (orientation : portrait) {

    body {
        padding: 10px;
   
    }
    
    header {
        flex-direction: column;
        margin: 0px -20px;
        padding: 0%;
 
    }

    header nav ul {
        
        padding: 0;
    }
    img.bookilogo {
        margin-bottom: 10%;
        margin-left: 40%;
        width: 120px;
        height:50px;
    }
    header nav ul li {
        width: 50%;
        padding: 20px;
        text-align: center;
        margin: 0px;
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
    }.button{
        display: none;
    }
   
    .input-location{
        width: 15%;
    }
    
    .input{
    min-width: 100% ;
min-height: 100%;}
    .filter-container{
        flex-direction: column;
        height: auto;
    }

    .input-recherche{
        width: 70%;
    }
    .loupe
  {
    width: 100%;
    display: flex;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #0065Fc;
    border-radius: 15px;
  }
  .input-button {
    position: absolute;
    right: 40px;
    display: flex;
    justify-content: center;
    width: 45px;
    height: 45px;
  
  }
  .loupe  i
  {
    margin: auto;
    font-size: 19px;
  }

  #filter {
    flex-direction: column;
    align-items: flex-start;
    flex-flow: wrap;
}
.info{
    margin-bottom: 40px;
    width: auto;
}

/*---------- HEBERGEMENTS -----------*/
.hebergements-section  {
    height: auto;
    flex-direction: column;
    justify-content: center;


}
.description h3{
    margin-top: 10px;
}
.title-hebergements h2{
    margin: auto;
    text-align: left;
}
.card{
    width: 100%;
    margin-left: 0%;
}
.sous-container{
    flex-direction: column;
}
.hebergements-container{
    order: 2;
    width: 100%;
    background: none;
    width: auto;
    margin: auto;
    padding: 0px;
}
.hot-container{
    border-radius: 0px;
    height: 90vh;
    order: 1;
    width: 112%;
    margin: -20px;
}

.card-hot{
    padding: 0px;
}

.card-hot .description{
    padding-bottom: 100px;
}
.seemore{
    padding: 10px 0px 0px 10px;
}
/*---------- ACTIVITE -----------*/

.activite-list{
    flex-direction: column;
    height: auto;
}
 .activite-list .column {
    width: 100%;
  
}

.activite-list .column .card-activity,
.activite-list .column.double .card-activity {
    height: 250px;
    margin-bottom: 20px;
}

    footer {
        flex-direction: column;
        height: auto;
  
    }
    .about, .nos-hebergements, .assitance{
        width: auto;
        padding-left: 10%;
    }

}
