@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    
    
    /*-----------FILTERS------------*/
    
    
    .filter-container{
        display: flex;
        flex-direction: row;
        margin-top: 10%;
        margin-left: 1%;
        margin-right: 1%;
        justify-content: space-around;
        height: 10vh;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .filter-logo{
        color: #0065FC;;
        background-color: #DEEBFF;
        border-radius: 100%;
        text-align: center;
        height: 40px;
        width: 40px;
        margin-left: -3.5%;
        margin-top: 0.1%;
        padding-top: 10px;
        font-size: 18px;
        margin-right:-10%;
        z-index: 2;
    }
    .filter-title{
    
    text-align: left;
    line-height: 10px;
    margin-bottom: -7%;
    
    }
.filter{
    background-color: rgb(255, 255, 255);
    height: 43px;
    text-align: center;
    line-height: 8px;
    width: 20%;
    padding-left: 3%;

    font-weight: 600;
    font-size: 14px;
    border-radius: 30px;
    border: 2px #F2F2F2 solid;
    margin-left: -1.5%;
}

.filter-anim{
    background-color: rgb(255, 255, 255);
    height: 43px;
    text-align: center;
    line-height: 8px;
    width: 29%;
    padding-left: 1%;
    font-weight: 600;
    font-size: 14px;
    border-radius: 30px;
    border: 2px #F2F2F2 solid;
}
/* ------------------HEBERGEMENT-----------------*/

.hebergements-section  {
    height:50vh;
  
}

.card{
    background-color: white;
    width: 30%;
    height: 185px;
    padding: 5px;
    border-radius: 20px;
    margin: 1%;
    box-shadow: rgba(0, 0, 0, 0.123) 0px 0px 10px;
    border: #c6d6f0 solid 0px;
}
.card img {
 
    height: 40%;
}

.card, .description p{
  padding-top: -4%;
  padding-bottom: -3%;
}

.hot-container{
  
    height:50vh;
    width: 40%;
    border-radius: 20px;
    margin-left: 3%;
}
.card-hot h3{
    font-size: 16px;
    margin-top: -1%;
}
.card-hot{
 margin-left: auto;
 margin-right: auto;
    width:85%;
    height: 22%;
  
    
}
.card h3{
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: -10px;
    margin-top: 4px;
    margin-left: 13px;
}
.card-hot .description p{  
    font-weight: 200px;
    font-size: 14px;
    margin-left: 0px;
    padding: 1px;
    margin-top: -10px;
    

}

.card-hot .rating{
 
    font-size: 10px;
}

.card-hot img{
    max-width: 40%;
    max-height: 100%;
    border-radius: 20px 0px 0px 20px;
    margin-right: 5%;
    width: 200px;
}

.card .rating{

    font-size: 10px;
}


.rating-hot{
    color: #0065FC;
    margin-top: -10px;
    margin-left: 4px;
    font-size: 10px;
}

.hot-container h2{
 margin-bottom: -10%;
 margin-top: auto;
 
}

.fa-chart-line:before{
    font-size: 20px;
}
/* --------------------- ACTIVITIES -------------------*/

.activities-section{
    height: 40vh;
    width: 100vw;
    margin: auto;
    padding: auto;

}
.activities-right-column{

display: flex;
flex-direction: column;
align-items: flex-end;
margin: 2%;
}
.activities-container{
    flex-direction: column;
flex-wrap: wrap;
    width: 160%;


}
.card-right{
  width: 150px;
    height: 25%;
}


.card-right-long{
    height: 60%;
    width: 30%;
}
.card-right-long img{
    height: 85%;
  
}
.card-right-frioul{
    width: 30%;
    height: 20%;
}
.card-right-frioul img{

    height: 60%;
}
img#fort{
    width: 100%;
    height: 70%;
}
}
    