@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {

    
    .info{
        width: 40%;
    }

/* ------------------HEBERGEMENT-----------------*/

.hebergements-section  {
    height:50vh;
  
}

.card{
    background-color: white;
    width: 30%;
    height: 185px;
    padding: 5px;
    border-radius: 20px;
    margin: 1%;
    box-shadow: rgba(0, 0, 0, 0.123) 0px 0px 10px;
    border: #c6d6f0 solid 0px;
}
.card img {
 
    height: 40%;
}

.card, .description p{
  padding-top: 0%;
  padding-bottom: 0%;
}

.hot-container{
  
    height:50vh;
    width: 45%;
    border-radius: 20px;
    margin-left: 2%;
    padding: 1px;
}
.hot-container h2{
    font-size: 22px;
}

.card-hot h3{
    font-size: 16px;
    margin-top: -1%;
}
.card-hot{
 margin-left: auto;
 margin-right: auto;
    width:85%;
    height: 22%;
  
    
}
.card h3{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: -10px;
    margin-top: 4px;
    margin-left: 13px;
}
.card-hot .description p{  
    font-weight: 200;
    font-size: 14px;
    margin-left: 0px;
    padding: 1px;
    margin-top: -10px;
    

}

.card-hot .rating{
 
    font-size: 10px;
}

.card-hot img{
    max-width: 40%;
    max-height: 100%;
    border-radius: 20px 0px 0px 20px;
    margin-right: 5%;
    width: 200px;
}

.card .rating{

    font-size: 10px;
}


.rating-hot{
    color: #0065FC;
    margin-top: -10px;
    margin-left: 4px;
    font-size: 10px;
}

.hot-container h2{
 margin-bottom: -10%;
 margin-top: auto;
 
}

.fa-chart-line:before{
    margin-left:20px;
    font-size: 20px;
}
/* --------------------- ACTIVITIES -------------------*/

}
    